:root {
  --font-family: 'Poppins', sans-serif;
  --font-size-h1: 40px;
  --font-size-h1-desktop: 48px;
  --font-size-h2: 32px;
  --font-size-h2-desktop: 40px;
  --font-size-h3: 16px;
  --font-size-h3-desktop: 16px;
  --font-size-logo: 18px;
  --font-size-p: 16px;
  --font-size-p-desktop: 20px;
}

@media screen and (max-width: 767px) {
  *,
  *::after,
  *::before {
    list-style: none;
  }

  body {
    background-color: rgb(247, 248, 250);
    z-index: -1;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1.2rem 0 1.2rem;
    height: 1rem;
  }

  .logo {
    color: #6070ff;
    font-size: var(--font-size-logo);
    font-family: var(--font-family);
    font-weight: 900;
    text-decoration: none;
  }

  #first-sec {
    background-image: url("images/header-shapes\ mobile@2x.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 60% 70%;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    text-align: justify;
  }

  .flex h1 {
    font-size: var(--font-size-h1);
    font-family: var(--font-family);
    font-weight: 700;
    letter-spacing: -3px;
    color: #172b4d;
    margin-left: 5vw;
    margin-top: 9rem;
  }

  .contact-form h1 {
    font-family: var(--font-family);
    font-size: var(--font-size-h1);
    color: #fff;
    display: flex;
    justify-content: center;
    height: 52px;
    margin-top: 7rem;
  }

  #first-sec h1 {
    margin-left: 5vw;
    margin-top: 3rem;
    padding-top: 4rem;
    font-size: var(--font-size-h1);
    font-family: var(--font-family);
    font-weight: 700;
    letter-spacing: -3px;
    color: #172b4d;
  }

  .div-p {
    font-family: var(--font-family);
    font-size: var(--font-size-p);
    margin: 0 5vw 0 5vw;
    text-align: justify;
    color: #344563;
  }

  .flex p {
    font-family: var(--font-family);
    font-size: var(--font-size-p);
    margin: 0 5vw 0 5vw;
    text-align: justify;
    color: #344563;
  }

  .contact-form p {
    font-family: var(--font-family);
    font-size: var(--font-size-p);
    color: #ebebff;
    display: flex;
    justify-content: center;
    height: 120px;
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  #first-sec p {
    margin: -1.5rem 5vw 0 5vw;
    font-size: var(--font-size-p);
    font-family: var(--font-family);
    color: #344563;
  }

  .flex h3 {
    margin-left: 1rem;
    font-size: var(--font-size-h3);
    font-family: var(--font-family);
    color: #7f8cff;
  }

  #first-sec h3 {
    margin-left: 5vw;
    font-size: var(--font-size-h3);
    font-family: var(--font-family);
    color: #7f8cff;
  }

  .first-div ul {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    font-family: var(--font-family);
    font-size: 12px;
    margin-left: -7vw;
    margin-right: 7vw;
  }

  .second-div ul {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    font-family: var(--font-family);
    font-size: 12px;
    margin-left: -7vw;
    margin-right: 7vw;
  }

  .third-div ul {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    font-family: var(--font-family);
    font-size: 12px;
    margin-left: -7vw;
    margin-right: 7vw;
  }

  .fourth-div ul {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    font-family: var(--font-family);
    font-size: 12px;
    margin-left: -7vw;
    margin-right: 7vw;
  }

  #first-sec ul {
    display: flex;
    justify-content: space-between;
    margin: 0 9rem 0 -1.3rem;
  }

  #first-sec ul:hover {
    cursor: pointer;
  }

  .work-sec {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 4;
    row-gap: 4rem;
    place-content: center;
    padding: 1vw;
  }

  .first-div {
    grid-column: 1;
    grid-row: 1;
    margin: 5vw;
    border: #dfe1e6 1px solid;
    border-radius: 16px;
    background-color: #fff;
  }

  .li-2 img {
    height: 2.8rem;
    margin-left: 39%;
    margin-right: 1vw;
    margin-top: 1rem;
  }

  .li-3 img {
    height: 2.8rem;
    margin-left: 64%;
    margin-top: 1rem;
  }

  .first-div .div-img img {
    width: 80vw;
    height: 220px;
    padding: 5vw;
  }

  .first-div h2 {
    font-size: var(--font-size-h2);
    font-family: var(--font-family);
    padding-left: 5vw;
    margin-top: -1rem;
    color: #172b4d;
  }

  .first-div .ul-li {
    position: relative;
    font-family: var(--font-family);
    font-size: 13px;
    color: #7a869a;
    margin-right: 7vw;
    margin-left: -9vw;
    margin-top: -1rem;
  }

  .first-div .sec-list li {
    background-color: #ebebff;
    color: #6070ff;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 8px;
  }

  .first-div button {
    margin: 5vw 5vw 9vw 5vw;
    padding: 0.7rem 1rem 0.7rem 1rem;
    text-align: justify;
    font-family: var(--font-family);
    font-size: 17px;
    color: #396df2;
    background-color: transparent;
    border: 1px solid #396df2;
    border-radius: 8px;
  }

  .second-div {
    grid-column: 1;
    grid-row: 2;
    margin: 5vw;
    border: #dfe1e6 1px solid;
    border-radius: 16px;
    background-color: #fff;
  }

  .second-div .div-img img {
    width: 80vw;
    height: 220px;
    padding: 5vw;
  }

  .second-div h2 {
    font-size: var(--font-size-h2);
    font-family: var(--font-family);
    padding-left: 5vw;
    margin-top: -1rem;
    color: #172b4d;
  }

  .second-div .ul-li {
    position: relative;
    font-family: var(--font-family);
    font-size: 13px;
    color: #7a869a;
    margin-right: 7vw;
    margin-left: -9vw;
    margin-top: -1rem;
  }

  .work-sec .ul-li {
    margin-left: -1rem;
  }

  .work-sec .sec-list {
    margin-left: -1.2rem;
  }

  .second-div .sec-list li {
    background-color: #ebebff;
    color: #6070ff;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 8px;
  }

  .second-div button {
    margin: 5vw 5vw 9vw 5vw;
    padding: 0.7rem 1rem 0.7rem 1rem;
    text-align: justify;
    font-family: var(--font-family);
    font-size: 17px;
    color: #396df2;
    background-color: transparent;
    border: 1px solid #396df2;
    border-radius: 8px;
  }

  .third-div {
    grid-column: 1;
    grid-row: 3;
    margin: 5vw;
    border: #dfe1e6 1px solid;
    border-radius: 16px;
    background-color: #fff;
  }

  .third-div .div-img img {
    width: 80vw;
    height: 220px;
    padding: 5vw;
  }

  .third-div h2 {
    font-size: var(--font-size-h2);
    font-family: var(--font-family);
    padding-left: 5vw;
    margin-top: -1rem;
    color: #172b4d;
  }

  .third-div .ul-li {
    position: relative;
    font-family: var(--font-family);
    font-size: 13px;
    color: #7a869a;
    margin-right: 7vw;
    margin-left: -1rem;
    margin-top: -1rem;
  }

  .third-div .sec-list li {
    background-color: #ebebff;
    color: #6070ff;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 8px;
  }

  .third-div button {
    margin: 5vw 5vw 9vw 5vw;
    padding: 0.7rem 1rem 0.7rem 1rem;
    text-align: justify;
    font-family: var(--font-family);
    font-size: 17px;
    color: #396df2;
    background-color: transparent;
    border: 1px solid #396df2;
    border-radius: 8px;
  }

  .fourth-div {
    grid-column: 1;
    grid-row: 4;
    margin: 5vw;
    border: #dfe1e6 1px solid;
    border-radius: 16px;
    background-color: #fff;
  }

  .fourth-div .div-img img {
    width: 80vw;
    height: 220px;
    padding: 5vw;
  }

  .fourth-div h2 {
    font-size: var(--font-size-h2);
    font-family: var(--font-family);
    padding-left: 5vw;
    margin-top: -1rem;
    color: #172b4d;
  }

  .fourth-div .ul-li {
    position: relative;
    font-family: var(--font-family);
    font-size: 13px;
    color: #7a869a;
    margin-right: 7vw;
    margin-left: -1rem;
    margin-top: -1rem;
  }

  .fourth-div .sec-list li {
    float: left;
    background-color: #ebebff;
    color: #6070ff;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 8px;
  }

  .fourth-div button {
    margin: 5vw 5vw 9vw 5vw;
    padding: 0.7rem 1rem 0.7rem 1rem;
    text-align: justify;
    font-family: var(--font-family);
    font-size: 17px;
    color: #396df2;
    background-color: transparent;
    border: 1px solid #396df2;
    border-radius: 8px;
  }

  .flex button {
    margin: 1rem 5vw 1rem 5vw;
    font-family: var(--font-family);
    font-size: 17px;
    color: #396df2;
    background-color: transparent;
    border: 1px solid #396df2;
    padding: 0.7rem 1rem 0.7rem 1rem;
    border-radius: 8px;
  }

  .contact-form button {
    background: #fff;
    border-radius: 8px;
    width: 8rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    height: 48px;
    color: #6070ff;
    border: 1px solid #cfd8dc;
    margin-left: 5vw;
  }

  .work-sec button:hover {
    background-color: #6070ff;
    color: #fff;
  }

  .flex {
    margin: 7rem 0 5rem 0;
    display: flex;
    background-color: #fff;
    flex-direction: column;
  }

  .flex .social-img {
    display: flex;
    justify-content: space-between;
    margin: 0 9rem 0 -1.3rem;
  }

  .flex .flex-box-2 {
    display: flex;
    flex-direction: column-reverse;
  }

  .flex-box-2 .flex-3 {
    font-family: var(--font-family);
    font-size: 20px;
  }

  .flex-box-2 .flex-3 .grid {
    margin: 0 0 0 -5vw;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 4rem 14.5rem;
  }

  .flex-box-2 .flex-3 .grid h4 {
    grid-column: 1;
    grid-row: 1;
  }

  .flex-box-2 .flex-3 .grid .more-img {
    color: #fff;
    grid-column: 2;
    grid-row: 1;
  }

  .language .lang-1 img {
    height: 2.5rem;
    margin-top: 0.5rem;
  }

  .language .lang-2 img {
    height: 2.5rem;
    margin-top: 0.5rem;
  }

  .language .lang-3 img {
    height: 2.5rem;
    margin-top: 0.5rem;
  }

  .flex-box-2 .flex-3 .grid .more-img img {
    float: right;
    margin-right: 2.7vw;
    margin-top: 1rem;
  }

  .grid-2 {
    margin-left: -5vw;
    padding-left: -5vw;
    grid-row: 2;
    grid-column: 1 / span 2;
  }

  .language {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
  }

  .language .lang-1 {
    background-color: #f7f7f9;
    border-radius: 8px;
    margin-right: 5vw;
    margin-left: -5vw;
    color: #253858;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    padding-right: 45vw;
  }

  .language .lang-2 {
    background-color: #f7f7f9;
    border-radius: 8px;
    margin-right: 5vw;
    margin-left: -5vw;
    color: #253858;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    padding-right: 55vw;
  }

  .language .lang-3 {
    background-color: #f7f7f9;
    border-radius: 8px;
    margin-right: 5vw;
    margin-left: -5vw;
    margin-bottom: 1rem;
    color: #253858;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    padding-right: 55vw;
    position: relative;
  }

  .li-2 {
    height: 5rem;
    margin-left: -5vw;
    display: flex;
    justify-content: space-between;
  }

  .li-3 {
    height: 5rem;
    margin-left: -5vw;
    display: flex;
    justify-content: space-between;
  }

  .line {
    background-color: #dfe1e6;
    height: 1px;
    margin-right: 5vw;
  }

  .contact-form {
    background-image: url("images/contact\ form\ shapes-mobile@2x.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: right;
    height: 779px;
    background-color: #6070ff;
    padding: 1rem 0 3rem 0;
    border-top-left-radius: 100px;
  }

  .contact-form form {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    width: 327px;
    height: 400px;
  }

  #name,
  #email {
    background-color: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    width: 83vw;
    height: 48px;
    margin-right: 5vw;
    margin-left: -5vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    padding-left: 1rem;
  }

  #message {
    height: 170px;
    border: 1px solid #cfd8dc;
    width: 83vw;
    border-radius: 8px;
    margin-left: -5vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    padding-left: 1rem;
    padding-top: 1rem;
  }

  .desktop-menu {
    display: none;
  }

  .desktop-work-sec {
    display: none;
  }

  .contact-form button:hover {
    background-color: #6070ff;
    color: #fff;
  }

  .flex button:hover {
    background-color: #6070ff;
    color: #fff;
  }
}

@media screen and (min-width: 768px) {
  *,
  *::after,
  *::before {
    list-style: none;
  }

  body {
    background-color: rgb(247, 248, 250);
    z-index: -1;
    height: 100%;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1.2rem 0 1.2rem;
    height: 3rem;
  }

  .logo {
    color: #6070ff;
    font-size: var(--font-size-logo);
    font-family: var(--font-family);
    font-weight: 900;
    text-decoration: none;
    margin-left: 8vw;
  }

  .menu-img {
    display: none;
  }

  .desktop-menu ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-right: 8vw;
    margin-top: -0.2rem;
  }

  .desktop-menu ul li {
    margin: 0 1rem 0 1rem;
    font-size: 15px;
    font-family: var(--font-family);
    color: #344563;
  }

  #first-sec {
    padding: 7rem 14vw 9rem 14vw;
    background-image: url("images/Header\ bg@2x.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 28rem;
    border-bottom-left-radius: 100px;
    background-color: #fff;
    margin-bottom: 4rem;
  }

  #first-sec .mobile-h1 {
    display: none;
  }

  #first-sec h1 {
    margin-top: 3rem;
    padding-top: 4rem;
    font-size: var(--font-size-h1-desktop);
    font-family: var(--font-family);
    font-weight: 700;
    letter-spacing: -3px;
    color: #172b4d;
  }

  #first-sec p {
    font-size: var(--font-size-p-desktop);
    font-family: var(--font-family);
    text-align: justify;
    padding-top: -1rem;
    margin-top: -1rem;
  }

  #first-sec h3 {
    font-family: var(--font-family);
    font-size: var(--font-size-h3-desktop);
    color: #7f8cff;
    text-align: justify;
    padding-top: -1rem;
    margin-top: -0.5rem;
  }

  #first-sec ul {
    display: flex;
    margin-left: -3.5rem;
    padding-top: -1rem;
    margin-top: -1rem;
  }

  #first-sec ul li {
    margin: 0.4rem 1rem 0 1rem;
  }

  .work-sec {
    display: none;
  }

  .desktop-work-sec {
    display: grid;
    gap: 3.5rem;
    grid-template-columns: 1;
    grid-template-rows: repeat(4, 40rem);
    height: 90rem;
    margin: 5rem 6vw 50vh 6vw;
  }

  .desktop-work-sec .desk-first-div {
    grid-column: 1;
    grid-row: 1;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    gap: 1rem;
    padding: 2vw;
    width: 83vw;
    height: 24rem;
    border-radius: 16px;
  }

  .desktop-work-sec .desk-second-div {
    grid-column: 1;
    grid-row: 2;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    gap: 1rem;
    padding: 2vw;
    width: 83vw;
    height: 24rem;
    border-radius: 16px;
  }

  .desktop-work-sec .desk-third-div {
    grid-column: 1;
    grid-row: 3;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    gap: 1rem;
    padding: 20px;
    width: 83vw;
    height: 24rem;
    border-radius: 16px;
  }

  .desktop-work-sec .desk-fourth-div {
    grid-column: 1;
    grid-row: 4;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    gap: 1rem;
    padding: 20px;
    width: 83vw;
    height: 24rem;
    border-radius: 16px;
  }

  .desktop-work-sec,
  .desk-first-div,
  .desk-second-div,
  .desk-third-div,
  .desk-fourth-div,
  .desk-div-img img {
    grid-column: 1;
    width: 40vw;
    height: 30vw;
  }

  .desktop-work-sec .div-info {
    height: 30vw;
    display: flex;
    flex-direction: column;
  }

  .desktop-work-sec .div-info h2 {
    font-size: var(--font-size-h2-desktop);
    font-family: var(--font-family);
    color: #091e42;
    padding: 5px;
    margin-top: -0.5vw;
    margin-left: 0.8rem;
  }

  .desktop-work-sec .div-info .ul-li {
    display: flex;
    justify-content: space-around;
    font-family: var(--font-family);
    font-size: 18px;
    color: #6b778c;
    margin-right: 9vw;
    margin-left: -2.6vw;
    position: relative;
    margin-top: -2vw;
  }

  .desktop-work-sec .div-info p {
    font-family: var(--font-family);
    font-size: var(--font-size-p);
    color: #344563;
    margin-left: 1.2rem;
  }

  .desktop-work-sec .div-info .sec-list {
    font-family: var(--font-family);
    font-size: 12px;
    color: #6070ff;
    position: relative;
    margin-left: -2.1rem;
    margin-top: -1vw;
  }

  .div-info .sec-list li {
    float: left;
    margin: 1vw;
    background-color: #ebebff;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 8px;
    height: 2vw;
  }

  .div-info button {
    font-family: var(--font-family);
    font-size: 17px;
    color: #396df2;
    background-color: #fff;
    border: 1px solid #396df2;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    width: 9rem;
    height: 3.5rem;
    margin-left: 1rem;
    margin-top: 0.5vw;
    text-align: center;
  }

  .flex {
    display: grid;
    grid-template-columns: 30vw 50vw;
    gap: 1rem;
    background-color: #fff;
    margin-top: 145rem;
    padding: 0 6vw 6rem 6vw;
    border-top-right-radius: 100px;
  }

  .flex .flex-box {
    grid-column: 1;
    display: flex;
    flex-direction: column;
  }

  .flex .flex-box h1 {
    font-family: var(--font-family);
    font-size: var(--font-size-h2-desktop);
    color: #091e42;
  }

  .flex .flex-box p {
    font-size: 16px;
    font-family: var(--font-family);
    color: #344563;
  }

  .flex .flex-box h3 {
    font-family: var(--font-family);
    font-size: 16px;
    color: #7f8cff;
  }

  .flex .flex-box .social-img {
    position: relative;
    margin-left: -3rem;
  }

  .flex .flex-box .social-img li {
    float: left;
    margin: 1vw;
  }

  .flex .flex-box button {
    font-family: var(--font-family);
    font-size: 17px;
    color: #396df2;
    background-color: transparent;
    border: 1px solid #396df2;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    width: 9rem;
    height: 3rem;
    margin-left: 0;
    margin-top: 0.5vw;
    text-align: center;
  }

  .flex-box-2 .flex-3 {
    display: flex;
    flex-direction: column;
  }

  .flex-3 li {
    font-size: 20px;
    font-family: var(--font-family);
    color: #344563;
  }

  .flex-3 .grid .more-img {
    float: right;
    margin-top: -4rem;
  }

  .flex-3 .grid .grid-2 .language {
    position: relative;
    margin-left: -3rem;
  }

  .flex-3 .grid .grid-2 .language li {
    float: left;
    background-color: #f7f7f9;
    margin: 1vw;
    font-size: 15px;
    color: #253858;
    width: 9vw;
    height: 9vw;
    border-radius: 4px;
  }

  .flex-3 .li-2 img {
    float: right;
    margin-top: -4rem;
  }

  .flex-3 .li-3 img {
    float: right;
    margin-top: -4rem;
  }
  .flex-3 .line {
    height: 1px;
    background-color: #dfe1e6;
    width: 50vw;
  }

  .contact-form {
    background-image: url("images/contact\ form\ background\ shapes@2x.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #6070ff;
    border-top-left-radius: 100px;
    height: 800px;
    padding: 3rem 20vw 0 20vw;
  }

  .contact-form h1 {
    font-family: var(--font-family);
    font-size: var(--font-size-h2);
    color: #fff;
    display: flex;
    justify-content: center;
  }

  .contact-form p {
    font-family: var(--font-family);
    font-size: 20px;
    color: #ebebff;
    width: 40vw;
    margin: -1rem 8rem 0 8rem;
    text-align: justify;
  }

  .contact-form form ul {
    display: flex;
    flex-direction: column;
    margin: 1rem 10vw 1rem 10vw;
  }

  .contact-form form ul li label input {
    font-family: var(--font-family);
    width: 30vw;
    margin: 1rem;
    height: 48px;
    padding-left: 1rem;
    border: 1px solid #cfd8dc;
  }

  .contact-form form ul li label textarea {
    font-family: var(--font-family);
    width: 30vw;
    margin: 1rem;
    height: 140px;
    padding-left: 1rem;
    padding-top: 1rem;
    border: 1px solid #cfd8dc;
  }

  .contact-form form button {
    font-family: var(--font-family);
    font-size: 17px;
    color: #396df2;
    background-color: #fff;
    border: 1px solid #396df2;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    width: 9rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    margin-top: 0.5vw;
    text-align: center;
    margin: 0 23vw 0 23vw;
  }

  button:hover {
    cursor: pointer;
    background-color: #6070ff;
    color: #fff;
  }
}
